<!-- 메인 홈화면 만들기 (index와 나중에 바꿔도 되는데 일단 진행)-->
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Algorithm Tutor Web</title>
      <link rel="stylesheet"  type="text/css" href="/css/home.css" />
      <style>
      </style>
   </head>
   <body>
      <!-- 네이게이션 바 추가 -->
      <header class="header clearfix">
         <a class="navbar-brand font-weight-bold" href= "/" style=" float: left;">  Algorithm Tutor Web </a>
         <a class="navbar-brand font-weight-bold" href="/tutor" style="float: right;">Tutor Call</a> </a>
      </header>
      <main role="main">
         <div class="container mt-2">
            <div class="row">
               <div class="col-8">
                  <table id='problemset' class='table table-striped table-condensed table-sm'>
                     <thead>
                        <tr class='table-primary'>
                           <th width='5'></th>
                           <th>번호</th>
                           <th>문제명</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% for(let i=0;i<length; i++) { %>
                           <tr>
                              <td>
                                 <div class=none> </div>
                              </td>
                              <td>
                                 <div class='center'>
                                    <%= i+1 + "번" %>
                                 </div>
                              </td>
                              <td>
                                 <div class='left'><a href='/submit/<%= i %>'>
                                    <%= problem[i] %>
                                 </a></div>
                              </td>
                           </tr>
                        <% } %>
                        
                     </tbody>
                  </table>
               </div>
               <!-- rside -->
            </div>
            <!-- row -->
         </div>
      </main>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/js/all.js"></script>
      <footer class="container">
         <h6 class="text-center">
            kim youjin <a href='https://github.com/u0jin'>github</a><br />
            (E-mail : ujin5826@skuniv.ac.kr)
         </h6>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
      <script type="text/javascript"></script>
      <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
      <script src="/socket.io/socket.io.js"></script>
   </body>
</html>