<!-- 메인 홈화면 만들기 (index와 나중에 바꿔도 되는데 일단 진행)-->
<!DOCTYPE html>
<html>

<head>
  <title>문제1</title>
  <link rel="stylesheet" href="css/problem.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./template/bs/codeup.css" type="text/css">
</head>
<body> 
<header class="header clearfix">
    <a class="navbar-brand font-weight-bold" href="/" >  Home </a>
</header>


<main role="main">
    <div class="container mt-3">
        
        <title>문제 번호 1. -- 출력하기01</title>
        <h2 class='text-center font-weight-bold mb-2'>출력하기01</h2>

    </div>
    
    <div class='card mb-2'>
        
        <div class='card-header'><strong>문제 설명</strong><a class="btn btn-danger" href="/submit" style="float: right;">소스 제출</a></div>
    
        <div id='pro1' class='card-body'>C/C++언어에서 가장 기본적인 명령이 출력문이다.<br />
    printf()를 이용해 다음 단어를 출력하시오.<br />
    <br />
    Hello<br />
    <br />
    참고<br />
    C/C++ IDE 프로그램을 설치한 후&#44;<br />
    아래와 같은 소스 코드를 작성하고 "컴파일-실행"을 수행시키면&#44;<br />
    지정한 "문장"이 출력된다.<br />
    <br />
    #include &lt;stdio.h&gt;<br />
    <br />
    int main()<br />
    {<br />
    &nbsp;&nbsp;printf("문장"); <br />
    &nbsp;&nbsp;return 0;<br />
    }<br />
    <br />
    ** 주의 : 본 화면에서 복사하여 붙여넣기하면 제대로 되지 않을 수 있으니 직접 소스코드를 작성해 넣어야 한다. <br />
    <br />
    <br />
    <p align="right">
        <img src="/admin/../upload/pimg6118_1.png" alt="" /> <br />
    <br /></div></div><div class='card mb-2'><div class='card-header'><strong>입력</strong></div><div id='pro2' class='card-body'>입력 없음 <br />
    <br />
    <br /></div></div><div class='card mb-2'><div class='card-header'><strong>출력</strong></div><div id='pro3' class='card-body'>Hello <br />
    <br />
    <br /></div></div><div class='card mb-2'><div class='card-header'><strong>입력 예시</strong>&nbsp;&nbsp;&nbsp;<button id='copybtn' class='btn btn-outline-primary btn-sm copybtn' data-clipboard-target='#sinput' data-toggle='tooltip' title='예시를 복사하여 붙여넣을 수 있습니다.'>예시 복사</button></div><div class='card-body'><p id=sinput><samp class='sampledata'>
    </samp></p></div></div><div class='card mb-2'><div class='card-header'><strong>출력 예시</strong></div><div class='card-body'><p><samp class='sampledata'>Hello
    
    </div>
</main>

  	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/js/all.js"></script>
	
<footer class="container">

    <h6 class="text-center">
            kim youjin <a href='https://github.com/u0jin'>github</a><br />
            (E-mail : ujin5826@skuniv.ac.kr)
    </h6>
    
    
</footer>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>

<script type="text/javascript">

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
  
  $("#copybtn").click(function() {
      var clipboard = new Clipboard('.copybtn');
      clipboard.on('success', function(e) {
          e.clearSelection();
          $("#copybtn").attr('data-original-title','복사 완료!');
          $('[data-toggle="tooltip"]').tooltip('show');
      });
  });
  </script>
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config(
    {
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      menuSettings: { zoom: "Hover" }
    }
  );
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  
  
  <script type='text/javascript'>
  $(document).ready(function(){
      $("span").css("font-family","'Noto Sans KR', sans-serif");   
  });
  </script>
  
  
  
<script type='text/javascript'>
$("#myprob_add").click(function(){
    $.ajax({
        url:'./myprob.php?pid=1001',
        type:'get',
        success: function(data){
          $("#myprob_add").addClass('d-none');
          $("#myprob_remove").removeClass('d-none');            
      }
  });
});
  
  $("#myprob_remove").click(function(){
      $.ajax({
          url:'./myprob.php?pid=1001',
          type:'get',
          success: function(data){
              $("#myprob_remove").addClass('d-none');
              $("#myprob_add").removeClass('d-none');           
          }
          
      });
  });
  </script>
  
  
  <script>
  $("#hidePset").click(function(){
      $("#pset").removeClass("d-none");
      $(this).removeClass("d-inline-block");
      $(this).addClass("d-none");
      return false;
  });
  </script>



<script src="/home.js"></script>






<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js"></script>


</body>
</html>